:root {
	--color-white: white;
	--color-black: black;
	--color-red: #ac325b;
	--color-gray-50: rgba(202, 200, 203, 0.3);
	--color-gray-200: #f3f3f3;
	--color-gray-500: #c9c9c9;
	--font-size-950: 1.75rem;
	--font-size-800: 1.25rem;
	--font-size-600: 1.1rem;
	--font-size-500: 1rem;
	--font-size-400: 0.95rem;
	--font-size-300: 0.75rem;
}

html {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	font-size: 16px;
	font-family: sans-serif;
}

.App {
	display: flex;
	flex-direction: column;
}

.App h1,
.App h2 {
	align-self: center;
}

.App h1 {
	color: var(--color-red);
	text-shadow: 3px 3px var(--color-gray-200);
	font-size: var(--font-size-950);
	margin: 0;
}

.App h2 {
	color: var(--color-gray-500);
	font-size: var(--font-size-800);
	line-height: 1rem;
}

nav {
	align-self: center;
	display: flex;
	margin-bottom: 1rem;
}

nav div {
	color: var(--color-red);
	text-decoration: underline;
	text-transform: uppercase;
}

nav div:hover {
	background-color: var(--color-gray-50);
}

.Outlet {
	padding-bottom: 3.125rem;
}

.Outlet pre,
.Outlet h2 {
	font-size: var(--font-size-400);
	margin: 0 0 1.25rem 0;
	line-height: 1.25rem;
	color: var(--color-gray-500);
}

.Outlet section div:nth-child(odd) {
	background-color: aliceblue;
}

.Outlet section header,
.Outlet code,
.selection code {
	font-size: var(--font-size-300);
	display: inline-block;
	margin: 10px 0;
}

.Outlet section header {
	text-transform: uppercase;
	color: green;
	background-color: greenyellow;
	padding: 0;
	margin: 0 10px;
}

ul {
	list-style: none;
	line-height: 1.5rem;
	padding: 0;
}

li a {
	text-decoration: none;
	color: var(--color-red);
}

li a:hover {
	font-size: var(--font-size-600);
	background-color: var(--color-gray-50);
}

.selection {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.selection section header,
.selection section span {
	font-size: var(--font-size-300);
	text-decoration: underline;
	color: var(--color-black);
	background-color: var(--color-white);
	margin: 0;
}

.selection section span {
	margin-left: 10px;
}

.text-sm {
	font-size: var(--font-size-300);
}

.WebWorker ul {
	padding: 10px;
}
